body {
  background-color: #d7ecd9;
  margin: 0;
}

.container {
  width: 100vw;
  height: 100vh;

  font-weight: bold;
  font-size: 20px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 80%;

  gap: 5px;

  padding: 5px;
  box-sizing: border-box;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 20%;
}

#mainTitle,
#menuContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#mainTitle h1 {
  font-family: "DM Serif Display", serif;
  letter-spacing: 9px;

  user-select: none;
  
  animation-name: Title;
  animation-duration: 11s;
  animation-iteration-count: infinite;
}

@keyframes Title {
  0% {
    color: #182c18;
  }
  65% {
    color: #3c6f3c;
  }
  100% {
    color: #182c18;
  }
}

#menuContainer a {
  margin-left: 50px;
  margin-right: 50px;
  text-decoration: none;
  color: black;
  letter-spacing: 3px;
  font-family: "Source Code Pro", monospace;
  transition-duration: 1.7s;
}
#menuContainer a:hover {
  color: #62be62;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#swann {
  position: absolute;
  margin-top: 0px;
  margin-left: -385px;
}

#cake {
  position: absolute;
  margin-top: 90px;
  margin-left: -80px;
  z-index: 1;
  border: 22px solid white;
}

#muffin {
  position: absolute;
  margin-top: -5px;
  margin-left: 268px;
}

#butterfly {
  position: absolute;
  margin-top: -175px;
  margin-left: 410px;
  transform: rotate(25deg);
}
